<div class="col col-2">
  <nav class="panel">
    <p class="panel-heading">who to follow</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figuare class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figuare>
        </div>

        <div class="media-content">
          <div class="content">
            <strong><%= current_user.name%></strong><br/>
            <small><%= current_user.username%></small>
          </div>
        </div>
      </aritcle>
    </div>
  </nav>
</div>